.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
  }
  
  .pagination button {
    padding: 8px 16px;
    margin: 0 5px;
    background-color: #3f3f3f;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
  }
  
  .pagination button:hover {
    background-color: #2b2b2b;
  }
  
  .pagination input {
    width: 50px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
  .pagination span {
    margin: 0 10px;
  }
  