a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
}
.movieGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 3rem;
  padding: 20px;
  color: black;
}

.movieCard {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s;
  justify-content: flex-start;
}
.movieCard:hover {
  transform: scale(1.05);
}
.movieImgContainer {
  position: relative;
}
.movieRating {
  padding: 0.5rem;
  font-size: 0.8rem;
  background-color: rgba(255, 207, 49, 0.902);
  border-radius: 100%;
  position: absolute;
  top: -3%;
}
.movieImg {
  width: 230px;
  height: auto;
}
.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.movieInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto;
  height: 33%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.movieCard:hover .movieInfo {
  opacity: 1;
}

.movieInfo h1 {
  font-size: 1.3rem;
  font-weight: 400;
}
