a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
}
.movieGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
  gap: 3rem;
  padding: 20px;
  color: black;
}

.movieCard {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.2s;
  justify-content: flex-start;
}
.movieCard:hover {
  transform: scale(1.05);
}
.movieImgContainer {
  position: relative;
}
.movieRating {
  padding: 0.9rem;
  background-color: rgba(255, 207, 49, 0.902);
  border-radius: 50px;
  position: absolute;
  top: -3%;
}
.movieImg {
  width: 230px;
  height: auto;
}
.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.movieInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  color: white;
}
.flexContainer a {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-decoration: none;
  color: rgb(235, 67, 15);
  font-size: 1.5rem;
}

.movieInfo h3 {
  margin: 2rem 0;
  font-weight: 300;
}

.movieInfo p {
  margin: 5px 0;
  color: #666666;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.pagination button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 1.2em;
  margin: 0 10px;
}