.filmPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #fff;
  font-family: Arial, sans-serif;
}

.filmPoster {
  position: relative;
  width: 100%;
  height: 500px; /* Fixed height for the poster */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.filmPoster::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88));
  z-index: 1; /* Ensure the overlay is on top of the background */
}

.cardContainer {
  position: relative;
  z-index: 2; /* Ensure the content is on top of the overlay */
  display: flex;
  align-items: center;
  padding: 20px;
}

.cardImage {
  width: 300px;
  height: auto;
  border-radius: 25px;
  margin-right: 2rem;
}

.movieDetails {
  max-width: 900px;
}

.movieDetails h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}
.movieMainInfo {
  display: flex;
  gap: 20px;
}

.movieDetails p {
  font-size: 1.1em;
  line-height: 1.6;
}

.movieDetails p.movieGenre {
  font-weight: bold;
  margin-bottom: 20px;
}

.loading,
.failed {
  font-size: 1.5em;
  color: #555;
  text-align: center;
  margin-top: 50px;
}

.CircularProgressLabel p {
  font-size: 1rem;
  margin-bottom: 25%;
}

.movieUserScore {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.movieUserScore h3 {
  margin-top: 0;
}

.MovieReleaseDate {
  color: rgba(129, 129, 129, 0.8) !important;
}

.MovieActions {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.moveGenre {
  margin-top: 20px;
}

.movieOverview {
  margin-top: 20px;
}
